{% extends "base.html" %}

{% block title %} Biography {% endblock %}

{% block content %}
<div class="pt-4 ">
  <a href="{% url 'biographies' %}" class="link-secondary link-secondary link-offset-2 link-underline-opacity-0 fs-5">
    <i class="fa-solid fa-angles-left"></i> Go back
  </a>
</div>


<div class="p-4">
   <h2 class="pb-3">{{ person.name }}</h2>

<div class="row ">
  <div class="col-md-2">
    <img src="{{ person.url_photo }}" alt="" width="200" height="250" class="rounded">
  </div>
  <div class="col-md-10 px-5">
    <p class="text-justify">
      {{ person.biography }}
    </p>
  </div>
</div>


</div>

{% endblock %}