{% extends "base.html" %}
  {% block title %} Home {% endblock %}

  {% block content %}
    <div class="border my-5 p-5 bg-secondary-subtle rounded">
      <h1 class="display-4">Biographies</h1>

      <p class="lead">Find here the world's greatest minds biographies!</p>
      <hr class="my-4">
      <p>Click the button below to find their biographies.</p>
      <a class="btn btn-success btn-lg" href="{% url 'biographies' %}" role="button">
        <i class="fa-solid fa-book-atlas"></i> Find biography
      </a>
    </div>

  {% endblock %}

