{% extends "base.html" %}

{% block title %} Biographies {% endblock %}

{% block content %}
    <div class="border my-5 p-5 bg-secondary-subtle rounded">
      <h1 class="display-4">Biographies</h1>

      <p class="lead">Below you can find the world's greatest minds biographies!</p>
    </div>

  <table class="table table-secondary-emphasis table-striped rounded">
    <thead>
      <tr class="">
        <th scope="col">ID</th>
        <th>Nome</th>
        <th>Creation date</th>
        <th>Last modified</th>
      </tr>
    </thead>

    <tbody>
    {% for person in people %}
    <tr>
      <th>{{ person.id }}</th>
        <td class="fs-5">{{ person.name }}</td>
        <td>{{ person.created_at}}</td>
        <td>{{ person.modified_at}}</td>
        <td>
          <a class="btn btn-outline-success" href="{% url 'bio' person.id %}">
            <i class="fa-solid fa-book-open-reader"></i> Read
          </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}